.custom-access {
    background: linear-gradient(227deg, #f3f0ff 0, #e9f2ff 100%);
    gap: 2pc;
    padding: 1pc 24px;
}
.css-1ncptc6 {
    background: linear-gradient(79deg, #6E5DC6 33.05%, #0C66E4 99.57%);
}